.login-page {
  display: flex;
  height: 100vh;
  background-color: var(--bg-main);
  font-family: 'Segoe UI', sans-serif;
}

.login-left {
  flex: 1;
  background: linear-gradient(135deg, #99ccff, #eaf2ff);
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-image {
  width: 250px;
  height: 250px;
  background: url('../assets/doctor.png') no-repeat center;
  background-size: contain;
}

.login-right {
  flex: 1;
  background-color: var(--bg-main);
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container {
  background-color: var(--bg-form);
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
  width: 100%;
  max-width: 400px;
}

.form-container h2 {
  color: var(--accent-color);
  margin-bottom: 20px;
  text-align: center;
}

.form-container input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid var(--primary-color);
  border-radius: 6px;
  outline: none;
}

.login-btn {
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 12px;
  width: 100%;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
}

.login-btn:hover {
  background-color: var(--accent-color);
}

.theme-toggle {
  position: absolute;
  top: 20px;
  right: 30px;
  background: transparent;
  border: none;
  color: var(--accent-color);
  font-size: 14px;
  cursor: pointer;
}